{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      {% for item in to_do_items %}
      <ul class="list-group mb-4">{{item.status}} - {{item.title}}  <a href="/{{ item.id }}">Edit</a></ul>
      {% endfor %}
    </div>
    <div class="col-md-12">
      <h2>Add To To-Do List</h2>
      <form id="add-to-do" method="post">
        <p>Would you like to add an item to the to-do list?</p>
        <label for="to-do-title">To do so, please enter the name of the task: </label><br><input type="text" name="to-do-title" required>
        <br><br>
        <input name="submit-task" type="submit">
      </form>
    </div>
  </div>
{% endblock %}