{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  {% for item in to_do_items %}
  <div class="list-group">
    <a href="/task/{{ item.id }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.title }}</h5>
        <small class="text-muted">{{ item.status }}</small>        
      </div>
      <p class="mb-1">{{ item.notes }}</p>
    </a>
  </div>
  {% endfor %}

  <div class="col-md-12">
    <h2>Add To To-Do List</h2>
    <form id="add-to-do" method="post">
      <p>Would you like to add an item to the to-do list?</p>
      <div class="form-group">
        <label for="to-do-title">To do so, please enter the name of the task: </label>
        <input type="text" name="to-do-title" class="form-control" required>
      </div>      
      <div class="form-group">
        <input name="submit-task" type="submit" class="btn btn-info">
      </div>      
    </form>
  </div>
{% endblock %}