{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1 class="display-4">Task</h1>
    <h2>{{task.title}}</h2>
    <p><b>Current status: </b> {{task.status}}</p>
    <p>Notes: {{ task.notes }}</p>
</div>

<br>

<div class="col-md-12">
    <form id="edit-task" method="post">
        <h2>Edit the task here:</h2>
        <div class="form-group">
            <label for="task-title">Task Title: </label>
            <input type="text" name="task-title" class="form-control" value="{{task.title}}">
        </div>
        <div class="form-group">
            <label for="task-status">Current Status: </label>
                <select name="task-status" class="form-control">
                   <option value="Not Started">Not Started</option>
                   <option value="In Progress">In Progress</option>
                   <option value="Complete">Complete</option>
                </select><br>
        </div>     
        <div class="form-group">
            <label for="task-notes"><b>Notes: </b> </label>
            <textarea name="task-notes" class="form-control"></textarea>
        </div>           
        <input name="submit-amend-task" type="submit" class="btn btn-success">
    </form>
    <br>
    <a href="/"></a>
        <button class="btn btn-info">Return to Homepage</button>
    </a>
</div>
{% endblock %}